* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin:0 auto;
  font-family: "Poppins";
  letter-spacing: 1px;
  scroll-behavior: smooth;
}

body {
  background-color: #f4ebe7;
}

.nav {
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  position: fixed;
  z-index: 580px;
  
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 20px;
  color: br;
  padding: 5px 5px 5px 5px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  margin-top: 2px;
  text-decoration: none;
  color: black; 
  font-weight: bold;
  font-family: 'Merriweather';
}

.nav > .nav-links > a:hover {
  border-bottom:2px solid #cb6ce6 ;
  transition: 0.5;
}

.nav > #nav-check {
  display: none;
}











/*header*/

/* .first-part {
  background-color: azure;
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 8%;
  
  position: fixed; 
   z-index: 500px; 
}
.logo{
  width:80px;
  height:70px;
}



.nav-list {
  margin-top: 20px;

}

.nav-list li {
  display: inline;
  margin: 50px 20px;
  padding: 70px 50px;

}
.nav-list a {
  color: black;
  font-family: "Poppins";
  font-weight: bold;
  font-family: 'Anton', sans-serif; */
/* font-family: 'Itim', cursive; */
/* font-family: 'Merriweather', serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Quicksand', sans-serif; */
/* font-family: 'Yellowtail', cursive; */
/* }

.nav-list a:hover {
  transition: 0.2s;
  border-bottom: 3px #cb6ce6 solid;
} */

 

.second-part{
display: flex;
}

.main-1{
  padding:180px 250px;
  

}

.name{
  font-size: 40px;
  
 
}

span{
  color: #cb6ce6;
  font-size: 20px;
}


.btn{
  margin-top: 70px;
  padding: 10px 30px;
  border: none;
  background-color: #cb6ce6;
  border-radius: 15px;
  
}
 .btn2{
  font-size: 15px;
  font-weight: bold;
  color: black;
}




.my-pic{
  
  width: 30%;
  height: 35rem;
 

}

/**/
.third-part{
  margin: 5%;
}
.edu-h2{
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Merriweather';
  
}
.edu{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.card{
  background-color: white;
  width: 730px;
  border-radius: 50px;
  padding: 20px 50px;
  
}
.card:hover{
  box-shadow: 0 8px 30px #cc6ce668;
}


/**/

.fourth-part,.sixth-part{
  background-color: #E7E5E0;
  
}

.proj{
  text-align: center;
  margin-top: 250px;
  padding: 20px;
}
.proj2{
  margin-top: 30px;
}
.sub-proj{
  background-color: white;
  border-radius: 10px;
  margin: 80px;
}
.sub-proj:hover{
transform: scale(1.1);
box-shadow: 0 8px 30px #cc6ce668;

}

.proj2{
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 990px;
  height: 570px;
  
}
.proj-img img{ width: 100%;

}
.proj-content h3{
  text-align: center;
  margin-bottom: 10px;
}
.proj-content p{
  text-align: center;
  font-weight: bold;
  font-size: 13px;
}
/**/

.skill-h2{
text-align: center;
margin-top:70px ;
padding: 20px;
font-family: 'Merriweather';
  
}

.six{
  margin: 10px;
  display: flex;
  
  justify-content: space-evenly;
  
}

.six div{
  padding: 10px;
  margin: 100px;
  /* border: 2px solid rgba(0, 0, 0, 0.033); */
}

.fa-brands{
 font-size: 85px;
 margin: 15px;
 
}

.skill1{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  font-weight: bold;
  
}





.cont-h2{
  text-align: center;
  margin-top:40px ;
  padding: 10px;
  font-family: 'Merriweather';
    
  }

  .conc  {
 margin: 43px;

 
  
  }

 .container7{
  display: flex;
  
  align-items: center;
  
 }
 .ll{
  display: flex;
  flex-direction: column;
  
 }


  .conc input,textarea{
    border: 2px solid #cb6ce6;
    padding: 10px 50px;
    border-radius: 10px;
  }



  .submit{
    padding: 10px 50px;
    background-color: #cb6ce6;
    border: #c971e27a 1px solid;
    color: aliceblue;
    font-weight: bold;
    margin-top: 20px;

    
  }


  /**/

  footer{
    background-color: #E7E5E0;
    margin-top: 30px;
    padding: 20px;
  }


 
  /* .fa-brands{
    text-align: center;
    font-size: 30px;
  } */

  .last{
    display: flex;
    flex-direction: column;
   
  }

  #link , #limk{
    font-size: 166%;
  }


/**/
/* @media screen and (min-width:375px) and (max-width: 667px) {
  .first-part{
    width: 100%;
    
  }
  .main-1 {
    
  }
  
} */

@media (max-width:600px)
{
header{
  width: 100%;
  
  
}

.my-pic{
display: none;
}

.btn{
  
  width: 8rem;
  height: 3rem;
}

.btn a{
  font-size: 0.1rem;
}
  
  .second-part{
    font-size: 0.9rem;
    
  }





.second-part{
  font-size: 0.8rem;
  
}

.edu{
 display: flex;
 flex-direction: column;
 margin-right: 0rem;
 width: 1rem;
 
 
}



.sixth-part{
  .six{
    width: 100%;
    height: 100%;
  }
}

}

/* media query*/


@media (max-width:480px) {
  .nav > .nav-btn {
   display: inline-block;
   position: absolute;
   right: 0px;
   top: 0px;
 }
 .nav > .nav-btn > label {
   display: inline-block;
   width: 50px;
   height: 50px;
   padding: 13px;
 }
 .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
   background-color: rgba(0, 0, 0, 0.3);
 }
 .nav > .nav-btn > label > span {
  display: block;
  width: 25px;
  height: 10px;
  border-top: 2px solid #151515;
 }
 .nav > .nav-links {
  position: absolute;
  display: block;
  width: 100%;
  background-color: #e378dc97;
  height: 0px;
  transition: all 0.3s ease-in;
  overflow-y: hidden;
  top: 50px;
  left: 0px;
 }
 .nav > .nav-links > a {
  display: block;
  width: 100%;
 }
 .nav > #nav-check:not(:checked) ~ .nav-links {
  height: 0px;
 }
 .nav > #nav-check:checked ~ .nav-links {
  height: calc(100vh - 50px);
  overflow-y: auto;
 }


 header{
  width: 100%;
  
  
}

.name{
  font-size: 0.9rem;
}
.home-obj{
  font-size: 0.7rem;
}

.btn{
  
  width: 8rem;
  height: 3rem;
}

.btn a{
  font-size: 0.1rem;
}
  
  .second-part{
    font-size: 0.9rem;
    display: flex;
    flex-direction: column-reverse;
    
    
  }

@media (max-width:600px) {
  .nav > .nav-btn {
   display: inline-block;
   position: absolute;
   right: 0px;
   top: 0px;
 }
 .nav > .nav-btn > label {
   display: inline-block;
   width: 50px;
   height: 50px;
   padding: 13px;
 }
 .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
   background-color: rgba(0, 0, 0, 0.3);
 }
 .nav > .nav-btn > label > span {
  display: block;
  width: 25px;
  height: 10px;
  border-top: 2px solid #151515;
 }
 .nav > .nav-links {
  position: absolute;
  display: block;
  width: 100%;
  background-color: #e378dc97;
  height: 0px;
  transition: all 0.3s ease-in;
  overflow-y: hidden;
  top: 50px;
  left: 0px;
 }
 .nav > .nav-links > a {
  display: block;
  width: 100%;
 }
 .nav > #nav-check:not(:checked) ~ .nav-links {
  height: 0px;
 }
 .nav > #nav-check:checked ~ .nav-links {
  height: calc(100vh - 50px);
  overflow-y: auto;
 }


 header{
  width: 100%;
  
  
}

.name{
  font-size: 0.9rem;
}
.home-obj{
  font-size: 0.7rem;
}

.btn{
  
  width: 8rem;
  height: 3rem;
}

.btn a{
  font-size: 0.1rem;
}
  
  .second-part{
    font-size: 0.9rem;
    display: flex;
    flex-direction: column-reverse;
    
    
  }

/* .nav-list li a {
  font-size: 0.1rem;
} */


.second-part{
  font-size: 0.8rem;
  
  
}
.third-part{
  width: 100%;
  margin: 5rem;
}
.edu{
 display: flex;
 flex-direction: column;
 position: relative;
 right: 35rem;
 
 
}

.sixth-part{
  .six{
    width: 100%;
    height: 100%;
  }
}

 .skill1{
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  font-weight: bold;
  
}



/* .nav-list li a {
  font-size: 0.1rem;
} */


.second-part{
  font-size: 0.8rem;
  
  
}

.edu{
 display: flex;
 flex-direction: column;
 position: relative;
 right: 35rem;
 
 
}

.sixth-part{
  .six{
    width: 100%;
    height: 100%;
  }
}

 .skill1{
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  font-weight: bold;
  
}
}


}
@media (max-width:600px) {
  .nav > .nav-btn {
   display: inline-block;
   position: absolute;
   right: 0px;
   top: 0px;
 }
 .nav > .nav-btn > label {
   display: inline-block;
   width: 50px;
   height: 50px;
   padding: 13px;
 }
 .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
   background-color: rgba(0, 0, 0, 0.3);
 }
 .nav > .nav-btn > label > span {
  display: block;
  width: 25px;
  height: 10px;
  border-top: 2px solid #151515;
 }
 .nav > .nav-links {
  position: absolute;
  display: block;
  width: 100%;
  background-color: #e378dc97;
  height: 0px;
  transition: all 0.3s ease-in;
  overflow-y: hidden;
  top: 50px;
  left: 0px;
 }
 .nav > .nav-links > a {
  display: block;
  width: 100%;
 }
 .nav > #nav-check:not(:checked) ~ .nav-links {
  height: 0px;
 }
 .nav > #nav-check:checked ~ .nav-links {
  height: calc(100vh - 50px);
  overflow-y: auto;
 }


 header{
  width: 100%;
  
  
}

.name{
  font-size: 0.9rem;
}
.home-obj{
  font-size: 0.7rem;
}

.btn{
  
  width: 8rem;
  height: 3rem;
}

.btn a{
  font-size: 0.1rem;
}
  
  .second-part{
    font-size: 0.9rem;
    display: flex;
    flex-direction: column-reverse;
    
    
  }

/* .nav-list li a {
  font-size: 0.1rem;
} */


.second-part{
  font-size: 0.8rem;
  
  
}

.edu{
 display: flex;
 flex-direction: column;
 position: relative;
 right: 35rem;
 
 
}

.sixth-part{
  .six{
    width: 100%;
    height: 100%;
  }
}

 .skill1{
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  font-weight: bold;
  
}





 }
 
 @media (max-width:1020px){
  header{
    width: 100%;
    
    
  }
  /* .nav-list li a {
    font-size: 0.1rem;
  } */
  
  .name{
    font-size: 0.9rem;
  }
  .home-obj{
    font-size: 0.7rem;
  }

.btn{
  
  width: 8rem;
  height: 3rem;
}

.btn a{
  font-size: 0.1rem;
}
  
  .second-part{
    font-size: 0.9rem;
    
  }
  
  .edu{
   display: flex;
   flex-direction: column;
   margin-right: 0rem;
  }
  
  .sixth-part{
    .six{
      width: 100%;
      height: 100%;
    }
  }
  .skill1{
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    font-weight: bold;
    
  }
 }




 @media (max-width:1270px){
  header{
    width: 100%;
    
    
  }
  /* .nav-list li a {
    font-size: 0.1rem;
  } */
  
  
  .name{
    font-size: 0.9rem;
  }
  .home-obj{
    font-size: 0.7rem;
  }




  .second-part{
    font-size: 0.8rem;
    
  }
  
  .edu{
   display: flex;
   flex-direction:column;
   margin-right: 0rem;
   gap:5rem;
  
  }
  
  .sixth-part{
    .six{
      width: 100%;
      height: 100%;
    }
  }
  .skill1{
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    font-weight: bold;
    
  }
  .btn{
  
    width: 8rem;
    height: 3rem;
  }
  
  .btn a{
    font-size: 0.1rem;
  }
    
    .second-part{
      font-size: 0.9rem;
      
    }
 }